{include file="/public/header" title="留言板" css={$css} img={$img} /}
<div class="banner">
  <div id="content" >
    <div class="wrap">
			<form action="{:url('index/message/add')}" method="post">
      <div class="comment">
        <div class="head-face"> <img src="{$img}user.jpg" / > </div>
        <div class="content">
          <div class="cont-box">
            <textarea class="text" name="content" placeholder="请输入你要说的内容..."></textarea>
          </div>
          <div class="tools-box">
          <!--/*  <div class="operator-box-btn">
              <input type="text" class="xingming" name="name" placeholder="输入姓名..">
            </div> */-->
            <div class="submit-btn">
              <input type="submit" value="提交评论" />
            </div>
          </div>
        </div>
      </div>
			</form>
      <div id="info-show">
        <ul>
					{volist name="data" id="user"}
          <li>
            <div class="head-face"><img src="{$img}user.jpg"></div>
            <div class="reply-cont">
              <p class="username">{$user.name}</p>
              <p class="comment-body">{$user.content}</p>
              <p class="comment-footer">{$user.update_time}</p>
            </div>
						{if condition="($user.user_id == $uid) AND ($uid != 0)"}
						<a href="{:url('index/message/update',['id'=>$user.mess_id])}" class="upd">编辑</a>
						<a href="{:url('index/message/delete',['id'=>$user.mess_id])}" class="del">删除</a>
						{/if}
          </li>
          {/volist}
        </ul>
      </div>
			{$list->render()}
    </div>
  </div>
{include file="/public/footer"/}
